.checkContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
