@import "../../../styles/variables";

.avatar {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;

  > span {
    white-space: nowrap;
    font-size: 12px;
    line-height: 13px;
    color: black;
    cursor: pointer;
  }

  > img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
  }

  @media (max-width: $breakpoint-md) {
    > span {
      display: none;
    }
  }
}

.avatar:after {
  display: none !important;
}

.item {
  white-space: nowrap;
  font-size: 12px;
  line-height: 13px;
  color: black;
  cursor: pointer;
}

.avatarDark {
  > span {
    color: $secondary-text-dark;
  }
}

.menuDark {
  background-color: $bg-dark !important;
}

.itemDark {
  color: $secondary-text-dark !important;
}

.itemDark:hover {
  color: $text !important;
}
