.tableContainer {
  width: 100%;
  height: 39.25rem;
  background-color: white;
  box-shadow: 3px 1px 20px rgba(95, 116, 136, 0.2);
  border-radius: 0.75rem;
  padding: 1.5rem;
}

.tableContainer > div {
  border: none;
}

.dataGrid > div:last-child div p {
  color: var(--text);
}

.dataGrid > div:last-child div div {
  color: var(--text);
}

.dataGrid > div:last-child div div svg {
  color: var(--text);
}

.cell {
  color: var(--text);
}

.gridToolbarContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  width: 100%;
}

.gridToolbarContainer button {
  color: var(--primary);
}
