$primary: #2a5b92;
$secondary: #5e99f5;
$body-bg: #e5e5e5;
$body-color: #313131;
$text: #313131;
$sub-text: #959595;
$drawer: #2c3e50;
$menu-btn-text: #bdbdbd;
$menu-btn-text-active: #f3f6fb;
$sub-menu-btn-text: #bdbdbd;
$sub-menu-btn-text-active: #f3f6fb;
$sub-menu-list-text: #607790;
$sub-menu-list-bg: #deebff;
$sub-menu-list-bg-active: #5c7bab;
$sub-menu-list-text-active: #deebff;
$search-bg: #f8f8f8f8;
$search-placeholder: #a8a8a8;
$icon-button: #8c8c8c;
$auth-background: #f2f4f6;
$fill: rgba(94, 153, 245, 0.3);

// dark

$primary-dark: #5c7cec;
$secondary-dark: #5e99f5;
$text-dark: #fafbfb;
$sub-text-dark: #93a1ae;
$secondary-text-dark: #aab8c5;
$body-bg-dark: #272934;
$body-color-dark: #fafbfb;
$bg-dark: #1a1a24;
$drawer-dark: #7e8c9d;
$menu-btn-text-dark: #7e8c9d;
$menu-btn-text-active-dark: #5c7cec;
$menu-btn-bg-active-dark: #040936;
$sub-menu-btn-bg-dark: #1a1a24;
$sub-menu-btn-bg-active-dark: #040936;
$sub-menu-btn-text-active-dark: #5c7cec;
$sub-menu-list-text-dark: #7e8c9d;
$sub-menu-list-bg-dark: #232332;
$sub-menu-list-bg-active-dark: #3a3b46;
$sub-menu-list-text-active-dark: #deebff;
$search-bg-dark: #272934;
$search-placeholder-dark: #aab8c5;
$icon-button-dark: #aab8c5;
$auth-background-dark: #272934;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
