@import "../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $primary;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: flex-end;
    background-color: $auth-background;
  }
}

.image {
  width: 64.1%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 768px) {
    display: none;
  }
}

.logoWrapper {
  display: none;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
  @media (max-width: 768px) {
    display: flex;
  }
}

.logo {
  width: 182px;
  height: 55px;
}

.containerDark {
  background-color: $auth-background-dark;
}
