@import "../../../styles/variables";

.messageWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 433px;
  @media (max-width: 768px) {
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
  }
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  color: $text;
  margin-bottom: 24px;
}

.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: $sub-text;
  margin-bottom: 48px;
}

.titleDark {
  color: $text-dark;
}

.descriptionDark {
  color: $sub-text-dark;
}
