@import "../../../styles/variables";

.select {
  background-color: transparent !important;
}

.label {
  label {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 100%;
  }
}

.selectDark {
  color: $text-dark !important;
}

.labelDark {
  label {
    color: $text-dark !important;
  }
}
