@import "../../../styles/variables";

.subMenuWrapper {
  width: 100%;
}

.subMenuButton {
  align-items: center;
  border: none;
  background-color: white;
  color: $sub-menu-btn-text;
  display: flex;
  height: 48px;
  padding: 13px;
  transition: all 0.3s;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  > svg:first-child {
    height: 21px;
    margin-right: 8px;
    width: 21px;
  }
  > svg:last-child {
    height: 12px;
    margin-left: auto;
    width: 12px;
  }
  &:hover {
    background-color: $primary;
    color: $sub-menu-btn-text-active;
  }
}

.activatedSubMenuButton {
  background-color: $primary;
  color: $sub-menu-btn-text-active;
}

.subMenuList {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
}

.subMenuListItem {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 29px;
}

.subMenuListButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  text-decoration: none;
  transition: all 0.3s;
  width: 100%;
  color: $sub-menu-list-text;
  padding: 8px 8px 8px 13px;
  border: none;
  background-color: $sub-menu-list-bg;
  &:hover {
    background-color: $sub-menu-list-bg-active;
    color: $sub-menu-list-text-active;
  }
}

.activatedSubMenuListButton {
  background-color: $sub-menu-list-bg-active;
  color: $sub-menu-list-text-active;
}

.subMenuButtonCollapse {
  border: none;
  background-color: white;
  color: $sub-menu-btn-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 63px;
  padding: 8px;
  font-size: 10px;
  line-height: 11px;
  transition: all 0.3s;
  width: 100%;
  > svg {
    height: 21px;
    width: 21px;
    margin-bottom: 9px;
  }
  &:hover {
    background-color: $primary;
    color: $sub-menu-btn-text-active;
  }
}

.activatedSubMenuButtonCollapse {
  background-color: $primary;
  color: $sub-menu-btn-text-active;
}

.subMenuListCollapsed {
  display: flex;
  flex-direction: column;
  width: auto;
  list-style: none;
  padding: 0;
}

.subMenuListItemCollapsed {
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  height: 29px;
}

.subMenuListButtonCollapse {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  text-decoration: none;
  transition: all 0.3s;
  width: 100%;
  color: $sub-menu-list-text;
  background-color: $sub-menu-list-bg;
  padding: 8px 8px 8px 13px;
  border: none;
  &:hover {
    background-color: $sub-menu-list-bg-active;
    color: $sub-menu-list-text-active;
  }
}

.activatedSubMenuListButtonCollapse {
  background-color: $sub-menu-list-bg-active;
  color: $sub-menu-list-text-active;
}

.subMenuButtonDark {
  background-color: $sub-menu-btn-bg-dark;
  color: $sub-menu-btn-text;
  &:hover {
    background-color: $sub-menu-btn-bg-active-dark;
    color: $sub-menu-btn-text-active-dark;
  }
}

.activatedSubMenuButtonDark {
  background-color: $sub-menu-btn-bg-active-dark;
  color: $sub-menu-btn-text-active-dark;
}

.subMenuListButtonDark {
  color: $sub-menu-list-text-dark;
  background-color: $sub-menu-list-bg-dark;
  &:hover {
    background-color: $sub-menu-list-bg-active-dark;
    color: $sub-menu-list-text-active-dark;
  }
}

.subMenuButtonCollapseDark {
  background-color: $sub-menu-btn-bg-dark;
  color: $sub-menu-btn-text;
  &:hover {
    background-color: $sub-menu-btn-bg-active-dark;
    color: $sub-menu-btn-text-active-dark;
  }
}

.activatedSubMenuButtonCollapseDark {
  background-color: $sub-menu-btn-bg-active-dark;
  color: $sub-menu-btn-text-active-dark;
}

.subMenuListButtonCollapseDark {
  color: $sub-menu-list-text-dark;
  background-color: $sub-menu-list-bg-dark;
  &:hover {
    background-color: $sub-menu-list-bg-active-dark;
    color: $sub-menu-list-text-active-dark;
  }
}
