@import "../../../styles/variables";

.button {
  background-color: $primary !important;
  border-color: $primary !important;
  transition: all 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
}

.buttonDark {
  background-color: $primary-dark !important;
  border-color: $primary-dark !important;
  transition: all 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
}

.secondary {
  background-color: $secondary !important;
  border-color: $secondary !important;
  color: white !important;
  transition: all 0.3s;
  &:hover {
    filter: brightness(0.9);
    color: white;
  }
}

.secondaryDark {
  background-color: $secondary-dark !important;
  border-color: $secondary-dark !important;
  color: white !important;
  transition: all 0.3s;
  &:hover {
    filter: brightness(0.9);
    color: white !important;
  }
}

.outline {
  background-color: transparent !important;
  color: $primary !important;
  transition: all 0.3s;
  &:hover {
    background-color: $primary !important;
    color: white !important;
  }
}

.outlineDark {
  background-color: transparent !important;
  color: $primary-dark !important;
  transition: all 0.3s;
  &:hover {
    background-color: $primary-dark !important;
    color: white !important;
  }
}

.secondaryOutline {
  background-color: transparent !important;
  border-color: $secondary !important;
  color: $secondary !important;
  transition: all 0.3s;
  &:hover {
    background-color: $secondary !important;
    color: white !important;
  }
}

.secondaryOutlineDark {
  background-color: transparent !important;
  color: $secondary-dark !important;
  border-color: $secondary-dark !important;
  transition: all 0.3s;
  &:hover {
    background-color: $secondary-dark !important;
    color: white !important;
  }
}

.link {
  background-color: transparent !important;
  color: $primary !important;
  border: none !important;
  transition: all 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
}

.linkDark {
  background-color: transparent !important;
  color: $primary-dark !important;
  border: none !important;
  transition: all 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
}

.link:focus,
.linkDark:focus {
  outline: none !important;
  box-shadow: none !important;
}
