@import "../../../styles/variables";

.menuWrapper {
  width: 100%;
}

.menuButton {
  align-items: center;
  border: none;
  background: transparent;
  color: $menu-btn-text;
  display: flex;
  height: 48px;
  padding: 13px;
  transition: all 0.3s;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  > svg:first-child {
    height: 21px;
    margin-right: 8px;
    width: 21px;
  }
  > svg:last-child {
    height: 12px;
    margin-left: auto;
    width: 12px;
  }
  &:hover {
    background-color: $primary;
    color: $menu-btn-text-active;
  }
}

.activatedMenuButton {
  background-color: $primary;
  color: $menu-btn-text-active;
}

.menuButtonCollapse {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 63px;
  padding: 8px;
  font-size: 10px;
  line-height: 11px;
  > svg:first-child {
    margin: 0 0 9px 0;
  }
  > svg:last-child {
    display: none;
  }
}

.menuButtonDark {
  color: $menu-btn-text-dark;
  &:hover {
    background-color: $menu-btn-bg-active-dark;
    color: $menu-btn-text-active-dark;
  }
}

.activatedMenuButtonDark {
  background-color: $menu-btn-bg-active-dark;
  color: $menu-btn-text-active-dark;
}
