@import "../../../styles/variables";

.card {
  max-width: 255px;
  height: 87px;
  width: 100%;
  box-shadow: 3px 1px 20px rgba(95, 116, 136, 0.2);
  border-radius: 12px !important;
  padding: 0 16px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.cardBody {
  display: flex;
  align-items: center;
  padding: 0 !important;
  width: 100%;
}

.iconFill {
  min-width: 40px;
  min-height: 40px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  svg {
    width: 20px;
    height: 20px;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 16px;
  max-height: 40px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: $text;
  margin-bottom: 0;
}

.subtitle {
  font-size: 13px;
  line-height: 15px;
  color: $sub-text;
}

.cardDark {
  box-shadow: 3px 1px 10px rgba(26, 26, 36, 0.5);
}

.titleDark {
  color: $text-dark;
}

.subtitleDark {
  color: $sub-text-dark;
}
