.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  @media (max-width: 768px) {
    margin-top: 0;
    flex-direction: column-reverse;
    width: 100%;
    gap: 12px;
    > button {
      width: 100%;
    }
  }
}
