@import "../../../styles/variables";

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 571px;
  max-width: 635px;
  height: 100%;
  width: 100%;
  box-shadow: 10px 5px 20px rgba(52, 52, 52, 0.5);
  border-radius: 20px !important;
  margin-left: -317.5px;
  @media (max-width: 768px) {
    margin: 0;
    box-shadow: 3px 1px 20px rgba(95, 116, 136, 0.2);
    border-radius: 41px 41px 0 0 !important;
    max-height: none;
    max-width: none;
  }
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 445px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: $text;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: $text;
  margin-bottom: 40px !important;
}

.label {
  color: $text;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  width: 100%;
}

.options {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -20px;
  a {
    font-size: 12px;
    line-height: 13px;
  }
  label {
    font-size: 12px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  button {
    width: 100%;
    margin-bottom: 16px;
  }
  p {
    font-size: 12px;
    line-height: 13px;
    color: $text;
    margin-bottom: 0;
  }
}

.cardDark {
  background-color: $bg-dark !important;
  box-shadow: 3px 1px 10px rgba(26, 26, 36, 0.5);
}

.textDark {
  color: $text-dark !important;
  p {
    color: $text-dark;
  }
}
