@import "../../../styles/variables";

.cardBody {
  display: flex;
  padding: 24px 32px !important;
  > div {
    width: 50%;
  }
}

.wrapper {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.iconFill {
  min-width: 40px;
  min-height: 40px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  svg {
    width: 20px;
    height: 20px;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 16px;
  max-height: 40px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: $text;
  margin-bottom: 0;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $sub-text;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: $text;
  position: absolute;
}

.cardDark {
  background-color: $bg-dark !important;
  box-shadow: 3px 1px 10px rgba(26, 26, 36, 0.5);
}

.textDark {
  color: $text-dark;
}
